.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    background-color: rgb(255, 159, 189);
}
.block {
    padding: 10px;
    display: block;
    background-color: rgb(255, 174, 187);
    border: 3px solid rgb(133, 73, 24);
    
}

.inline {
    padding: 10px;
    display: inline;
    background-color: rgb(125, 255, 223);
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: left;
    align-content: center;
}

.hello {
    height: 100px;
    background-color: rgb(255, 159, 189);
    flex-grow: 1
}


.bye {
    height: 100px;
    background-color: rgb(146, 105, 71);
    flex-basis: 50px;
}

.what {
    height: 100px;
    background-color: rgb(255, 87, 140);
    flex: 1 0.5 100px;
}


.oleg {
    background-color: rgb(127, 160, 209);
    flex-grow: 1
}

.mongol {
    background-color: rgb(58, 78, 189);
    flex-shrink: 1;
}

.privet {
background-color: rgb(53, 12, 150);
flex-basis: 100px
}

.Links {
    display:flex;
    justify-content: space-between;
    align-items: center
}

.gallery {
    display:flex;
    width: 100px;
    height: 100px;
}
