p {
    color: rgb(161, 92, 36); /* цвет
    font-size: 35px; /* размер текста */
    text-align: center; /*перемещает текст в центр */
    font-weight: bold; /* размер шрифта */
    padding: 15px; /* отступ */
 } 
 
div {
    background-color: rgb(243, 208, 212); /* цвет фона /*/
    width: 700px; /* ширина */
    height: 300px; /* высота */
    border: 5px solid rgb(116, 73, 34);
    border-radius: 10%; /* закругляет */
}

h1 {
    margin: 20px;
}
 
 h2 {
    padding: 15px;
 }
 

