p {
    color: rgb(161, 92, 36);
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    padding: 15px;
 } 
 
div {
    background-color: rgb(243, 208, 212);
    width: 700px;
    height: 300px;
    border: 5px solid rgb(116, 73, 34);
    border-radius: 10%;
}

h1 {
    margin: 20px;
}
 
 h2 {
    padding: 15px;
 }
 

