body {
    font-family:cursive;
    margin: 0;
    padding: 0;
    background-color: rgb(234, 243, 234);
}

header {
    background-color: #ffffff;
    padding: 12px 40px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid rgb(135, 172, 137);
}

.block {
    display: flex;
    align-items: center;
    gap: 32px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500px;
    line-height: 15px;
    color: #242424;
}