.block {
    display: block;
    background-color: #d62c2c;
    margin: 10px 0;
    padding: 10px;
    display: inline;
 }
 
  .inline {
    display: inline;
    background-color: rgb(60, 141, 60);
    margin: 0 5px;
    padding: 5px;   
    display: block;
  }
