.button:hover {
    background-color: #ffb3c6;
    color: #b16a3b;
 }

 .button {
   font-family:cursive
 }
 
 .input:focus {
   border: 4px solid #ffa6b5;
}

.input {
   font-family:cursive
}

.list-item:nth-child(odd) {  
   background-color: #ffc1d3;
   color:  #b16a3b;
   font-family:cursive
}

.list-item:nth-child(even) {
   background-color: #b16a3b;
   color: rgb(254, 255, 242)
}

.list-item:first-child {
   font-weight: bold;
}

.list-item:last-child {
   color: rgb(209, 27, 66)
}